.sidebar {
  margin-right: auto;
}

.sidebar__profile-image {
  width: 56px;
  margin-right: 16px;
}

.sidebar__profile-name {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.sidebar__profile-element{
  display: flex;
  align-items: center;
}